.expenseItemContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-2);
  align-items: flex-start;
}

.expenseItem {
  border: 1px solid var(--color-primary);
  padding: var(--space-2);
  width: fit-content;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .expenseItemContainer {
    flex-direction: row;
  }
}
